# Extracting of data from relational databases

## SQLite Database

### import package

In [2]:
# import sqlite3 package
import sqlite3

In [4]:
#create a connection to a database: create the database if not available
connection = sqlite3.connect("classroomDB.db")
connection.close()

In [7]:
#open connection
connection = sqlite3.connect("classroomDB.db")

#open cursor 
cursor = connection.cursor()
#query for creating table
create_table="""
            CREATE TABLE classroom(
            student_id INTEGER PRIMARY KEY,
            name VARCHAR(20),
            gender CHAR(1),
            physics_marks INTEGER,
            chemisty_marks INTEGER,
            mathematics_marks INTEGER);
"""
#execute query
cursor.execute(create_table)
#commit changes
connection.commit()
#close connection
connection.close()

### insert data

In [8]:
#sample data
classroom_data=[(1, "Raj", "M", 70, 84, 92),
                (2, "Poonam", "F", 87, 69, 93),
                (3, "Nik", "M", 65, 83, 90),
                (4, "Rahul", "F", 83, 76, 89)]
#open connection
connection = sqlite3.connect("classroomDB.db")
#open cursor 
cursor = connection.cursor()
#insert each student record
for student in classroom_data:
    #formatted query string
    insert_statement ="""INSERT INTO classroom
                    (student_id, name, gender, physics_marks, chemisty_marks, mathematics_marks)
                    VALUES
                    ({0}, "{1}", "{2}", "{3}", "{4}","{5}");
                    """.format(student[0], student[1], student[2], student[3], student[4], student[5])
    #execute insert query
    cursor.execute(insert_statement)
    
#commit changes
connection.commit()
#close connection
connection.close()

### extra data

In [9]:
#open connection
connection = sqlite3.connect("classroomDB.db")
#open cursor 
cursor = connection.cursor()
#query
query = "SELECT * FROM classroom"
#execute query 
cursor.execute(query)
#fetcch results
result = cursor.fetchall()
#print results
for row in result:
    print(row)
#close connection
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 69, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rahul', 'F', 83, 76, 89)

# MySQL database

### install package

In [10]:
!conda install -y -q pymysql

Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\Dell\Anaconda3

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    pymysql-0.9.3              |           py36_0          83 KB
    ------------------------------------------------------------
                                           Total:          83 KB

The following NEW packages will be INSTALLED:

  pymysql            pkgs/main/win-64::pymysql-0.9.3-py36_0


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [11]:
import pymysql

In [14]:
#connection details

conx = {'host':'localhost',
       'username':'root',
       'password':'',
       'db':'classroomdb'}

#Connecting to database
connection = pymysql.connect(
    conx['host'], conx['username'], conx['password'], conx['db'])

#close connection
connection.close()

### create table

In [15]:
#Connecting to database
connection = pymysql.connect(
    conx['host'], conx['username'], conx['password'], conx['db'])
#open cursor 
cursor = connection.cursor()
#query for creating table
create_table="""
            CREATE TABLE classroom(
            student_id INTEGER PRIMARY KEY,
            name VARCHAR(20),
            gender CHAR(1),
            physics_marks INTEGER,
            chemisty_marks INTEGER,
            mathematics_marks INTEGER);
"""
#execute query
cursor.execute(create_table)
#commit changes
connection.commit()
#close connection
connection.close()

### insert data

In [17]:
#sample data
classroom_data=[(1, "Raj", "M", 70, 84, 92),
                (2, "Poonam", "F", 87, 69, 93),
                (3, "Nik", "M", 65, 83, 90),
                (4, "Rahul", "F", 83, 76, 89)]
#open connection
connection =pymysql.connect(
    conx['host'], conx['username'], conx['password'], conx['db'])
#open cursor 
cursor = connection.cursor()
#insert each student record
for student in classroom_data:
    #formatted query string
    insert_statement ="""INSERT INTO classroom
                    (student_id, name, gender, physics_marks, chemisty_marks, mathematics_marks)
                    VALUES
                    ({0}, "{1}", "{2}", "{3}", "{4}","{5}");
                    """.format(student[0], student[1], student[2], student[3], student[4], student[5])
    #execute insert query
    cursor.execute(insert_statement)
    
#commit changes
connection.commit()
#close connection
connection.close()

### extract data

In [18]:
#open connection
connection = pymysql.connect(
    conx['host'], conx['username'], conx['password'], conx['db'])
#open cursor 
cursor = connection.cursor()
#query
query = "SELECT * FROM classroom"
#execute query 
cursor.execute(query)
#fetcch results
result = cursor.fetchall()
#print results
for row in result:
    print(row)
#close connection
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 69, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rahul', 'F', 83, 76, 89)